.main-body {
    margin-top: 10vh;
}

.dropdown-toggle,
.dropdown-item {
    cursor: pointer;
}

.text-align-center {
    text-align: center;
}

.text-weight-bold {
    font-weight: bold;
}

.bg-whitesmoke {
    background-color: whitesmoke;
}